{% extends 'adminapp/base.html' %}

{% block content %}
    <h1 class="mt-4">Пользователи</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Пользователи
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Адрес эл. почты</th>
                        <th>Персонал сайта</th>
                        <th>Активный</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Адрес эл. почты</th>
                        <th>Персонал сайта</th>
                        <th>Активный</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in object_list %}
                        <tr>
                            <td><a href="{% url 'admin_staff:admin_users_update' user.id %}"
                                   style="color: dodgerblue">{{ user.username }}</a></td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">
                                {% if user.is_staff %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle"></i>
                                {% endif %}
                            </td>

                            <td class="text-center">
                                {% if user.is_active %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="fas fa-times-circle"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <a class="card-footer">
            <a href="{% url 'admin_staff:admin_users_create' %}">
                <button class="btn btn-success">Создать пользователя</button>
            </a>
            {% if is_paginated %}
                <ul class="pagination">
                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %} ">
                        <a class="page-link"
                           href="
                            {% if not page_obj.has_previous %}
                             #
                            {% else %}
                            {% url 'admin_staff:admin_users' %}?page={{ page_obj.previous_page_number }}
                            {% endif %}">
                            Предыдущая
                        </a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'admin_staff:admin_users' %}?page={{ page }}">{{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %} ">
                        <a class="page-link"
                           href="
                            {% if not page_obj.has_next %}
                            #
                            {% else %}
                            {% url 'admin_staff:admin_users' %}?page={{ page_obj.next_page_number }} {% endif %}">
                            Следующая
                        </a>
                    </li>
                </ul>
            {% endif %}
    </div>
{% endblock %}