{#{% extends 'ordersapp/base.html' %}#}
{#{% load staticfiles %}#}
{##}
{#{% block content %}#}
{#    <div class="basket-list">#}
{#        {% if object_list %}#}
{#            <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">#}
{#                Ваши Заказы <span class="badge badge-secondary badge-pill">#}
{#            {% if user.first_name %}#}
{#                {{ user.first_name }}#}
{#            {% else %}#}
{#                Пользователь#}
{#            {% endif %}#}
{#                </span>#}
{#            </h4>#}
{#            {% for item in object_list %}#}
{#                {% if item.is_active %}#}
{#                    <div class="card mb-3">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ item.pk }}</h5>#}
{#                            <p class="card-text">{{ item.pk }}</p>#}
{#                        </div>#}
{#                        <ul class="list-group list-group-flush">#}
{#                            <li class="list-group-item bg-light">#}
{#                                <div class="row text-center">#}
{#                                    <div class="col-lg-4">#}
{#                                        <input name="{{ item.pk }}" type="number" class="form-control"#}
{#                                               value="{{ item.quantity }}" min="0">#}
{#                                    </div>#}
{#                                    <div class="col-lg-4">{{ basket.sum }} руб.</div>#}
{#                                    <div class="col-lg-4">#}
{#                                        <a href="{% url 'baskets:basket_remove' basket.id %}">#}
{#                                            <i class="fas fa-trash"></i>#}
{##}
{#                                        </a>#}
{#                                        <a href="{% url 'baskets:basket_add' basket.product.id %}">#}
{#                                            <i class="fas fa-cart-plus"></i>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#            <div class="card mb-3">#}
{#                <div class="card-footer">#}
{#                    <p class="float-left">Итого</p>#}
{#                    <h4 class="float-right">{{ baskets.0.total_sum }} руб.</h4>#}
{#                </div>#}
{#            </div>#}
{#            <button type="button" class="btn btn-success btn-lg float-right">Оформить</button>#}
{#        {% else %}#}
{#            <h4 class="mt-3 mb-3 mb-3 text-center">#}
{#                Корзина пуста#}
{#            </h4>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}
{##}


{% extends 'ordersapp/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="h2 text-center head">
        Ваши заказы,
        {% if user.first_name %}
            {{ user.first_name|title }}
        {% else %}
            Пользователь
        {% endif %}
    </div>
    <table class="table orders_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            {% if item.is_active %}
                <tr>
                    <td class="td1 orders_list">{{ item.pk }}</td>
                    <td>{{ item.created_at|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.updated_at|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a href="{% url 'ordersapp:order_read' item.pk %}">
                            посмотреть
                        </a>
                    <td>
                        {% if item.status == 'FN' %}
                            <a href="{% url 'ordersapp:order_update' item.pk %}">
                                редактировать
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'FN' %}
                            <a href="{% url 'ordersapp:order_delete' item.pk %}">
                                удалить
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-default btn-round">
        <a href="{% url 'main' %}">
            на главную
        </a>
    </button>
    <button class="btn btn-default btn-round">
        <a href="{% url 'ordersapp:order_create' %}">
            новый
        </a>
    </button>
{% endblock %}
